<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path("food.index") }}">FoodMaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Food
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("food.index") }}">Food</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("admin.food.index") }}">Administration</a>
                    {% endif %}

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("type.index") }}">Catégories</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("admin.type.index") }}">Administration</a>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item">
                {% if not app.user %}<a href="{{ path("register") }}" class="nav-link">Inscription</a>{% endif %}
            </li>

            <li class="nav-item">
                {% if not app.user %}
                    <a href="{{ path("login") }}" class="nav-link">Connexion</a>
                {% else %}
                    <a href="{{ path("logout") }}" class="nav-link">Déconnexion</a>
                {% endif %}
            </li>

        </ul>
    </div>
</nav>