{% extends 'base.html.twig' %}

{% block title %}Administration!{% endblock %}


{% block h1 %} Administration {% endblock %}

{% block body %}

    {% for message in app.flashes("success") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('admin.food.create') }}" class="btn btn-success rounded-pill">Create</a>
    <table class="table">
        <tr class="table-secondary">
            <td>Image</td>
            <td>Food</td>
            <td>Type</td>
            <td>Price</td>
            <td>Calories</td>
            <td>Proteins</td>
            <td>Carbohydrates</td>
            <td>Lipids</td>
            <td>Actions</td>
        </tr>
        {% for food in foods %}
            <tr>
                <td style="width: 10%"><img src="{{ asset("images/foods/" ~ food.image) }}" class="perso_imgFoodAdmin" alt=""></td>
                <td class="font-weight-bold">{{ food.name }}</td>
                <td>{{ food.type.wording }}</td>
                <td>{{ food.price }}</td>
                <td>{{ food.calorie }}</td>
                <td>{{ food.protein }}</td>
                <td>{{ food.carbohydrate }}</td>
                <td>{{ food.lipid }}</td>
                <td>
                    <a href="{{ path("admin.food.edit", {"id": food.id}) }}" class="btn btn-primary rounded-pill">Edit</a>
                    <form method="post" action="{{ path("admin.food.delete", {"id": food.id}) }}" class="d-inline-block">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ food.id) }}">
                        <input type="submit" class="btn btn-danger rounded-pill" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
